:root {
  --chevron-expand-icon: url('icons/chevron-expand-dark.svg');
  height: 99%;
}

body {
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  height: 99%;
}

.opaque {
  visibility: hidden;
}

.faded {
  filter: brightness(70%);
}

.hidden {
  display: none;
  visibility: hidden;
}

.hidden-conditionally {
  display: none !important;
  visibility: hidden;
}

.no-hide {
  visibility: visible;
}

.banner {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  border: none;
  text-align: center;
  width: 100%;
  padding: 5pt 0pt 5pt 0pt;
  margin-bottom: 5pt;
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  z-index: 101;
}

.banner-offset {
  top: 0;
  right: auto;
  left: auto;
  border: none;
  width: 100%;
  background-color: transparent;
}

.plist-table {
  border-collapse: collapse;
  width: 100%;
}

.plist-table td,
.plist-table thead th {
  padding: 0px 5px 0px 5px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: var(--vscode-menu-separatorBackground);
}

.plist-table thead tr {
  position: relative;
}

.plist-table thead th {
  position: sticky;
  top: 0;
  resize: horizontal;
  overflow: auto;
  min-width: 70px;
  background-color: var(--vscode-editor-background);
  z-index: 100;
}

.plist-row {
  opacity: initial;
}

.plist-row:hover:not(.plist-row-highlight) {
  background-color: var(--vscode-list-hoverBackground);
}

.plist-row:hover .hidden-conditionally {
  visibility: visible;
  display: inline-block !important;
}

.plist-row-highlight {
  background-color: var(--vscode-list-inactiveSelectionBackground);
  border-color: var(--vscode-list-inactiveFocusOutline);
}

.plist-row-highlight .appearance-auto {
  appearance: auto;
}

.key-container {
  display: flex;
  /* border: 3px dotted lightgray; */
}

.key-container-left {
  display: flex;
  float: left;
  max-width: 15%;
  /* border: 2px solid green; */
}

.key-container-center {
  display: flex;
  width: 100%;
  /* border: 2px solid orange; */
}

.key-container-right {
  display: flex;
  float: right;
  padding-left: 3px;
  max-width: 15%;
  /* border: 2px solid blue; */
}

.key-container-right .no-hide {
  display: inline-block !important;
}

.key-container-button {
  background-color: transparent;
  border: none;
  color: var(--vscode-editor-foreground);
  text-align: center;
  padding-left: 0;
  max-width: 50%;
  /* border: 4px solid pink; */
}

.expand-collapse-button {
  margin-right: 10px;
}

.input-as-label {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
}

.input-as-label:focus {
  outline: none;
}

.focused-input-as-label {
  outline: none !important;
  width: 100%;
  border-radius: 1px;
  border-color: var(--vscode-list-focusOutline);
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
}

.select-as-label {
  background-color: transparent;
  border: none;
  appearance: none;
  width: 100%;
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
}

.select-as-label:focus {
  outline: none;
}

.no-hide .select-as-label {
  background: var(--chevron-expand-icon);
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}

.error-flash {
  animation: fade 1s forwards;
  background-color: var(--vscode-list-errorForeground);
}

@keyframes fade {
  from {
    background-color: var(--vscode-list-errorForeground);
    opacity: 1;
  }

  to {
    background-color: var(--vscode-list-errorForeground);
    opacity: 0;
  }
}

.error-div {
  width: 97%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0px 16px;
  gap: 10px;
  word-break: break-word;
  text-align: center;
}

.error-div span {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.error-icon-container {
  color: var(--vscode-notificationsErrorIcon-foreground);
  display: block;
}

.error-div-text {
  color: var(--vscode-foreground);
}

.error-div-link {
  font-size: 14px;
  text-decoration: none;
}
